/*Buttons*/
/*----------------------------------------------------------------------------*/
.btn,.btn:active {
    background: linear-gradient(20deg, $blue_2, $blue_1);
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-family: $font_work_sans, $font_sans_serif;
    font-size: 13px;
    font-weight: 600;
    height: 50px;
    letter-spacing: 0.2em;
    outline: none !important;
    padding: 0 35px;
    position: $relative;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    min-width: 240px;
    width: auto;
    z-index: 99;

    @extend %transform-skew--45;

    a,
    p {
        font-size: inherit !important;
        
        @extend %transform-skew-45;
    }

    &.btn-flat {
        

        p { color: $white_1; }
    }

    &.btn-line {
        &:before {
            background-color: $white_1;
            content: "";
            height: 46px;
            left: 3px;
            position: absolute;
            width: calc(100% - 6px);
            top: 2px;
            z-index: 0;
        }

        p { color: #202020; }

        &.selected { 
            &:before { background-color: $black_3; }

            p { 
                color: $white_1;

                span {
                   background: -webkit-linear-gradient(20deg, $blue_2, $blue_1);
                   display: block;
                   -webkit-background-clip: text;
                   -webkit-text-fill-color: transparent; 
               }
            }
        }
    }

}
