.input-float-label { 
    margin-bottom: 30px;
    position: relative;    
}

.input-float-label label {
    color: #aaa;
    font-family: "Work sans", sans-serif;
    font-size: 15px;
    font-weight: 300;
    left: 0;
    position: absolute;
    text-transform: capitalize;
    transition: top 0.3s ease, opacity 0.3s ease;
    top: 8px;
}

.input-float-label input,
.input-float-label select {
    background: transparent !important; 
    height: 40px !important;
    padding: 0;
}

.input-float-label input:focus + label {
    font-size: 13px;
    opacity: 1;
    top: -15px;
    transition: top 0.3s ease, opacity 0.3s ease;
}

.input-float-label input.ng-not-empty + label,
.input-float-label input.has-value + label {
    font-size: 13px;
    top: -15px;
}

/*chrome*/
.input-float-label input:-webkit-autofill  + label, 
.input-float-label textarea:-webkit-autofill  + label, 
.input-float-label select:-webkit-autofill  + label{
    font-size: 13px;
    top: -15px;
}