/* font color*/
$black_1: #000;
$black_2: #202020;
$black_3: #070708;
$balck_4: #161619;
$gray_1: #aaa;
$gray_2: #777;
$gray_3: #eceef3;
$gray_4: #C7C7D7;
$white_1: #fff;
$blue_1: #007AFF;
$blue_2: #00F9FF;
$red_1: #fb574e;

/* position */
$relative: relative;
$absolute: absolute;
$static: static;
$fixed: fixed;

/* alignment */
$center: center;
$left: left; 
$right: right;


/* font family */
$font_sans_serif: sans-serif;
$font_work_sans: "Work Sans";
$font_heebo: "Heebo";